<div class="detail-section">
    <div class="container-fluid">
        <img src="{{this.product.imageUrl}}" alt="" class="detail-img">
        <h3>{{this.product.name}}</h3>
        <div class="price">{{this.product.unitPrice | currency: 'USD'}}</div>
        <button class="btn btn-primary btn-small" (click)="onAddToCartHandle()">Add to cart</button> <!-- TODO: cart-status handler -->
        <hr>
        <h4>Description</h4>
        <p>{{this.product.description}}</p>
        <hr>
        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>